
body {
    background-image: url("bg.jpg");
}
h1{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:75px;
	
}
h2{
	font-family: 'Shadows Into Light Two', cursive;
}

p{
	font-family: 'Shadows Into Light Two', cursive;
}